<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.starterkit.rcpapp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.starterkit.rcpapp.perspective.Perspective"
            id="com.starterkit.rcpapp.perspective">
      </perspective>
      <perspective
            class="com.starterkit.rcpapp.perspective.ToDoPerspectivFactory"
            id="com.starterkit.rcpapp.todoperspective"
            name="ToDo&apos;s">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="com.starterkit.rcpapp.View"
            id="com.starterkit.rcpapp.view">
      </view>
      <view
            class="com.starterkit.rcpapp.views.ToDosViewPart"
            id="com.starterkit.rcpapp.todoview"
            name="ToDo&apos;s"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.starterkit.rcpapp.todoperspective">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="com.starterkit.rcpapp.view">
         </view>
         <view
               closeable="false"
               id="com.starterkit.rcpapp.todoview"
               minimized="false"
               ratio="0.33"
               relationship="right"
               relative="com.starterkit.rcpapp.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="MyMenu">
            <command
                  commandId="com.starterkit.rcpapp.mycommand"
                  label="Hello"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.starterkit.rcpapp.mycommand"
            name="About command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.starterkit.handlers.MyHandler"
            commandId="com.starterkit.rcpapp.mycommand">
      </handler>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.starterkit.rcpapp.application"
            name="rcpapp">
         <property
               name="appName"
               value="rcpapp">
         </property>
      </product>
   </extension>

</plugin>
